# Copyright 2023 Wayback Archiver. All rights reserved.
# Use of this source code is governed by the MIT license
# that can be found in the LICENSE file.

name: Trivy

on:
  workflow_call:
    inputs:
      scan-type:
        type: string
        required: true
        description: 'Trivy scan type, available value: fs, image.'
      image-ref:
        type: string
        default: ''
        description: 'If using `image` scan.'
      sarif:
        type: string
        default: 'trivy-results.sarif'
        description: 'Sarif file name.'
      severity:
        type: string
        default: 'CRITICAL,HIGH'
        description: 'Severity level.'
      egress-policy:
        type: string
        default: 'block'
        description: 'Harden-Runner egress traffic policy'

permissions:
  contents: read

jobs:
  trivy-fs:
    name: Filesystem
    runs-on: ubuntu-latest
    permissions:
      security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
      #actions: read # only required for a private repository by github/codeql-action/upload-sarif to get the Action run status
    if: ${{ inputs.scan-type == 'fs' }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5c7944e73c4c2a096b17a9cb74d65b6c2bbafbde # v2.9.1
        with:
          disable-sudo: true
          egress-policy: ${{ inputs.egress-policy || 'block' }}
          disable-telemetry: true
          allowed-endpoints: >
            ghcr.io:443
            github.com:443
            api.github.com:443
            uploads.github.com:443
            pkg-containers.githubusercontent.com:443
            *.actions.githubusercontent.com:443

      - name: Check out code base
        if: github.event_name == 'push'
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Check out code base
        if: github.event_name == 'pull_request'
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          persist-credentials: false
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@e368e328979b113139d6f9068e03accaed98a518 # 0.34.1
        with:
          scan-type: '${{ inputs.scan-type }}'
          scan-ref: '.'
          format: 'sarif'
          severity: '${{ inputs.severity }}'
          output: '${{ inputs.sarif }}'
          template: '@/contrib/sarif.tpl'

      - name: Upload artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: SARIF file fs (${{ inputs.sarif }})
          path: '${{ inputs.sarif }}'

      - name: Upload to code-scanning
        uses: github/codeql-action/upload-sarif@c3b6fce4ee2ca25bc1066aa3bf73962fda0e8898 # v2.1.31
        with:
          sarif_file: '${{ inputs.sarif }}'

  trivy-container:
    name: Container
    runs-on: ubuntu-latest
    permissions:
      security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
      #actions: read # only required for a private repository by github/codeql-action/upload-sarif to get the Action run status
    if: ${{ inputs.scan-type == 'image' }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5c7944e73c4c2a096b17a9cb74d65b6c2bbafbde # v2.9.1
        with:
          disable-sudo: true
          egress-policy: ${{ inputs.egress-policy || 'block' }}
          disable-telemetry: true
          allowed-endpoints: >
            ghcr.io:443
            github.com:443
            api.github.com:443
            uploads.github.com:443
            pkg-containers.githubusercontent.com:443
            *.actions.githubusercontent.com:443

      - name: Check out code base
        if: github.event_name == 'push'
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Check out code base
        if: github.event_name == 'pull_request'
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          persist-credentials: false
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@e368e328979b113139d6f9068e03accaed98a518 # 0.34.1
        with:
          image-ref: '${{ inputs.image-ref }}'
          format: 'template'
          output: '${{ inputs.sarif }}'
          severity: '${{ inputs.severity }}'
          template: '@/contrib/sarif.tpl'

      - name: Upload artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: SARIF file container (${{ inputs.sarif }})
          path: '${{ inputs.sarif }}'

      - name: Upload to code-scanning
        uses: github/codeql-action/upload-sarif@c3b6fce4ee2ca25bc1066aa3bf73962fda0e8898 # v2.1.31
        with:
          sarif_file: '${{ inputs.sarif }}'

