# Copyright 2020 Wayback Archiver. All rights reserved.
# Use of this source code is governed by the MIT license
# that can be found in the LICENSE file.

name: Golang Builder

on:
  push:
    branches:
      - '**'
    paths:
      - '**.go'
      - 'go.mod'
      - 'go.sum'
  pull_request:
    branches:
      - '**'
    types: [ opened, synchronize, reopened ]
    paths:
      - '**.go'
      - 'go.mod'
      - 'go.sum'
  workflow_call:
    inputs:
      product:
        type: string
        required: true
        description: 'Product or package name'
      release:
        type: boolean
        default: false
        description: 'Whether or not to define a workflow called is releasing.'
      go-version:
        type: string
        default: '^1.19'
        description: 'Golang version, defaults to ^1.19'
      go-os:
        type: string
        default: 'linux'
        description: 'Golang os, defaults to linux'
      go-arch:
        type: string
        default: 'amd64'
        description: 'Golang version, defaults to amd64'
      go-arm:
        type: string
        description: 'Golang arm environment'
      go-mips:
        type: string
        description: 'Golang mips environment'
      go-mips64:
        type: string
        description: 'Golang mips64 environment'
      go-mipsle:
        type: string
        description: 'Golang mipsle environment'
      artifact-path:
        type: string
        required: true
        description: 'Path to stores artifacts.'
      egress-policy:
        type: string
        default: 'block'
        description: 'Harden-Runner egress traffic policy'
    secrets:
      wayback-ipfs-target:
        description: 'Managed IPFS target for distribution binaries.'
      wayback-ipfs-apikey:
        description: 'Managed IPFS credential for distribution binaries.'
      wayback-ipfs-secret:
        description: 'Managed IPFS secret for distribution binaries.'

permissions:
  contents: read

jobs:
  builder-go:
    name: Golang Builder
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5c7944e73c4c2a096b17a9cb74d65b6c2bbafbde # v2.9.1
        with:
          disable-sudo: true
          egress-policy: ${{ inputs.egress-policy || 'block' }}
          disable-telemetry: true
          allowed-endpoints: >
            github.com:443
            api.github.com:443
            proxy.golang.org:443
            sum.golang.org:443
            storage.googleapis.com:443
            '*.actions.githubusercontent.com:443'
            '*.blob.core.windows.net'

      - name: Check out code base
        if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Check out code base
        if: github.event_name == 'pull_request'
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
        with:
          fetch-depth: 0
          persist-credentials: false
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Set up Go 1.x
        uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5.0.0
        with:
          go-version: ${{ inputs.go-version }}

      - name: Cache go module
        uses: actions/cache@2f8e54208210a422b2efd51efaa6bd6d7ca8920f # v3.4.3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
            ~/Library/Caches/go-build
            ~\AppData\Local\go-build
            ~\go\pkg\mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Get dependencies
        run: |
          go get -v -t -d ./...

      - name: Build binary
        id: builder
        env:
          WAYBACK_IPFS_TARGET: ${{ secrets.wayback-ipfs-target }}
          WAYBACK_IPFS_APIKEY: ${{ secrets.wayback-ipfs-apikey }}
          WAYBACK_IPFS_SECRET: ${{ secrets.wayback-ipfs-secret }}
          GOOS: ${{ inputs.go-os }}
          GOARCH: ${{ inputs.go-arch }}
          GOARM: ${{ inputs.go-arm }}
          GOMIPS: ${{ inputs.go-mips }}
          GOMIPS64: ${{ inputs.go-mips64 }}
          GOMIPSLE: ${{ inputs.go-mipsle }}
        run: |
          TARGET="${GOOS}-${GOARCH}"
          if [[ -n "${GOARM}" ]]; then
            TARGET="${TARGET}v${GOARM}"
          elif [[ -n "${GOMIPS}" ]]; then
            TARGET="${TARGET}-${GOMIPS}"
          elif [[ -n "${GOMIPS64}" ]]; then
            TARGET="${TARGET}-${GOMIPS64}"
          elif [[ -n "${GOMIPSLE}" ]]; then
            TARGET="${TARGET}-${GOMIPSLE}"
          fi
          make ${TARGET}
          echo "filename=${{ inputs.product }}-${TARGET}" >> $GITHUB_OUTPUT
          echo "target=${TARGET}" >> $GITHUB_OUTPUT

      - name: Archive binary (for release)
        if: ${{ inputs.release }}
        run: make TARGET=${{ steps.builder.outputs.target }} releases

      - name: Upload artifacts
        uses: actions/upload-artifact@65c4c4a1ddee5b72f698fdd19549f0f0fb45cf08 # v4.6.0
        with:
          name: ${{ steps.builder.outputs.filename }}
          path: ${{ inputs.artifact-path }}
          if-no-files-found: error
