# Copyright 2020 Wayback Archiver. All rights reserved.
# Use of this source code is governed by the MIT license
# that can be found in the LICENSE file.

name: golangci-lint

on:
  push:
    branches:
      - '**'
    paths:
      - '**.go'
  pull_request:
    branches:
      - '**'
    types: [ opened, synchronize, reopened ]
    paths:
      - '**.go'
  workflow_call:
    inputs:
      version:
        type: string
        default: 'latest'
        description: 'version of golangci-lint to use in form of v1.2 or v1.2.3 or `latest` to use the latest version'
      egress-policy:
        type: string
        default: 'block'
        description: 'Harden-Runner egress traffic policy'

permissions:
  contents: read

jobs:
  golangci:
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5c7944e73c4c2a096b17a9cb74d65b6c2bbafbde # v2.9.1
        with:
          disable-sudo: true
          egress-policy: ${{ inputs.egress-policy || 'block' }}
          disable-telemetry: true
          allowed-endpoints: >
            github.com:443
            api.github.com:443
            objects.githubusercontent.com:443
            *.actions.githubusercontent.com:443
            raw.githubusercontent.com:443
            storage.googleapis.com:443
            proxy.golang.org:443
            sum.golang.org:443

      - name: Check out code base
        if: github.event_name == 'push'
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Check out code base
        if: github.event_name == 'pull_request'
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          persist-credentials: false
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Set up Go 1.x
        uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5.4.0
        with:
          go-version: '^1.18'

      - name: Golang linter
        uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9 # v8.0.0
        with:
          version: ${{ inputs.version }}
          # Optional: golangci-lint command line arguments.
          args: --timeout=10m
          # Optional: show only new issues if it's a pull request. The default value is `false`.
          only-new-issues: true

