# Copyright 2020 Wayback Archiver. All rights reserved.
# Use of this source code is governed by the MIT license
# that can be found in the LICENSE file.

name: Semgrep

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'
    types: [ opened, synchronize, reopened ]
  workflow_call:

permissions:
  contents: read

jobs:
  semgrep:
    runs-on: ubuntu-latest
    env:
      SEMGREP_SEND_METRICS: 'off'
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@ebacdc22ef6c2cfb85ee5ded8f2e640f4c776dd5 # v2.0.0
        with:
          disable-sudo: true
          egress-policy: block
          disable-telemetry: true
          allowed-endpoints: >
            github.com:443
            api.github.com:443
            semgrep.dev:443

      - name: Check out code base
        if: github.event_name == 'push'
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # v3.1.0
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Check out code base
        if: github.event_name == 'pull_request'
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # v3.1.0
        with:
          fetch-depth: 0
          persist-credentials: false
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Run Bug Scan
        uses: returntocorp/semgrep-action@137b6fa8d60023238378b28e19b9600e4edce87e
        with:
          config: p/r2c-bug-scan

      - name: Run CI
        uses: returntocorp/semgrep-action@137b6fa8d60023238378b28e19b9600e4edce87e
        with:
          config: p/r2c-ci

      - name: Run Best Practices
        uses: returntocorp/semgrep-action@137b6fa8d60023238378b28e19b9600e4edce87e
        with:
          config: p/r2c-best-practices

      - name: Run Security Audit
        uses: returntocorp/semgrep-action@137b6fa8d60023238378b28e19b9600e4edce87e
        with:
          config: p/r2c-security-audit

      - name: Run GoSec
        uses: returntocorp/semgrep-action@137b6fa8d60023238378b28e19b9600e4edce87e
        with:
          config: p/gosec

